//- index.pug
extends layout.pug

block content
	h1= title
	#menu
		a(href='/register' style='display: block;') register
		a(href='/login' style='display: block;') login
		a(href='/check_statut' style='display: block;') check statut
		a(href="logout" style="display: block;") logout